spring:
  datasource:
    url: jdbc:mysql://localhost:3306/banco?useSSL=false&serverTimezone=UTC
    username: root
    password: Deusmeu19

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

    database-platform: org.hibernate.dialect.MySQL8Dialect

  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true